.root {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  // opacity: 0.9;
  z-index: 9999;
  img {
    width: 300px;
    opacity: 0.6;
  }
}
