.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  &_active {
    div {
      border: 3px solid #01bb16;
    }
  }

  &__title {
    margin-top: 8px;
  }

  &__picture {
    width: 96px;
    height: 96px;
    border: 3px solid #e6e9ed;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    transition: 0.25s ease border-color;
    &:active {
      border-color: #01bb16;
    }
    img {
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__item {
    transition: 0.25s ease border-color;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
