.root {
  display: flex;
  margin: 0 auto;
  &__item {
    padding-right: 16px;
    &:last-child {
      padding-right: 0;
    }
  }
  &__done {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #1be231 0%, #1aa32a 100%);
    border-radius: 123px;
  }
}
