.root {
  margin: 25px 0;
  display: inline-block;
  transition: 0.25s ease opacity;
  width: 100%;
  cursor: pointer;
  &:active {
    opacity: 0.8;
  }
  &_img {
    height: 124px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_title {
    margin-top: 14px;
    margin-bottom: 3px;
    font-size: 17px;
    font-weight: 500;
    color: #1c1c1e;
  }
  p {
    margin-top: 1px;
    margin-bottom: 9px;
    font-size: 15px;
    color: #1c1c1e;
  }
}
